
.layout-column,
.layout-row {
    display: flex;
}

.layout-column {
    flex-direction: column;
}

.layout-row {
    flex-direction: row;
}

.layout-fill {
    flex: 1 1 auto;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}