// Intro Black
@font-face {
    font-family: 'Intro Black Caps Inline';
    src: url('assets/fonts/intro-black/introdemo-blackcapsinline-webfont.woff2') format('woff2'),
         url('assets/fonts/intro-black/introdemo-blackcapsinline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Black Caps';
    src: url('assets/fonts/intro-black/introdemo-blackcaps-webfont.woff2') format('woff2'),
         url('assets/fonts/intro-black/introdemo-blackcaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Lovelo
@font-face {
    font-family: 'loveloline_light';
    src: url('assets/fonts/lovelo/lovelo-linelight-webfont.woff2') format('woff2'),
         url('assets/fonts/lovelo/lovelo-linelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loveloline_light';
    src: url('assets/fonts/lovelo/lovelo-linelight-webfont.woff2') format('woff2'),
         url('assets/fonts/lovelo/lovelo-linelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loveloline_bold';
    src: url('assets/fonts/lovelo/lovelo-linebold-webfont.woff2') format('woff2'),
         url('assets/fonts/lovelo/lovelo-linebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loveloline_bold';
    src: url('assets/fonts/lovelo/lovelo-linebold-webfont.woff2') format('woff2'),
         url('assets/fonts/lovelo/lovelo-linebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loveloblack';
    src: url('assets/fonts/lovelo/lovelo-black-webfont.woff2') format('woff2'),
         url('assets/fonts/lovelo/lovelo-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loveloblack';
    src: url('assets/fonts/lovelo/lovelo-black-webfont.woff2') format('woff2'),
         url('assets/fonts/lovelo/lovelo-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
