@import "../../assets/styles/modules/variables";

.slide-bar {
    margin: 40px 0;

    &.keyo-blue {
        --background: #007AFF;
        // --background-contrast-color: #{$color__light__primary};
        --complete-pulse-color-rgb: 0, 122, 255;
        // --handle-color: rgba(255,255,255,.9);
        // --handle-contrast-color: #{$color__dark__primary};
        // --slide-bar-height: 48px;
        // --border-bottom-left-radius: calc(var(--slide-bar-height) / 2);
        // --border-bottom-right-radius: calc(var(--slide-bar-height) / 2);
        // --border-top-left-radius: calc(var(--slide-bar-height) / 2);
        // --border-top-right-radius: calc(var(--slide-bar-height) / 2);
        // --font-size: 16px;
    }

    &.random {
        --background: #000;
        --background-contrast-color: #{$color__light__primary};
        --complete-pulse-color-rgb: #{$app__primary-color-rgb};
        --handle-color: #{$app__gradient-background};
        --handle-contrast-color: #{$color__dark__primary};
        --slide-bar-height: 32px;
        --border-bottom-left-radius: 12px;
        --border-bottom-right-radius: 0;
        --border-top-left-radius: 0;
        --border-top-right-radius: 12px;
        --font-size: 14px;

        // &:not(._dragging):not(._complete) {
            
        //     .slide-bar__slide {
        //         opacity: .7;
        //     }
        // }

        // &._dragging {
        //     opacity: 1;
        // }

        .slide-bar__slide {
            opacity: calc(var(--progress) + .1);
        }
    }
}
