@import "../../assets/styles/modules/variables";

.slide-bar {
    // Set with js
    --progress: 0;

    --background: #{$app__gradient-background};
    --background-contrast-color: #{$color__light__primary};
    --complete-pulse-color-rgb: #{$app__accent-color-rgb};
    --handle-color: rgba(255,255,255,.9);
    --handle-contrast-color: #{$color__dark__primary};
    --slide-bar-height: 48px;
    --inner-border-size: 2px;
    --border-bottom-left-radius: calc(var(--slide-bar-height) / 2);
    --border-bottom-right-radius: calc(var(--slide-bar-height) / 2);
    --border-top-left-radius: calc(var(--slide-bar-height) / 2);
    --border-top-right-radius: calc(var(--slide-bar-height) / 2);
    --font-size: 16px;

    -webkit-tap-highlight-color: transparent;
    position: relative;
    
    &__wrapper {
        background: var(--background);
        border-bottom-left-radius: var(--border-bottom-left-radius);
        border-bottom-right-radius: var(--border-bottom-right-radius);
        border-top-left-radius: var(--border-top-left-radius);
        border-top-right-radius: var(--border-top-right-radius);
        contain: strict;
        cursor: pointer;
        font-size: var(--font-size);
        font-weight: 600;
        height: var(--slide-bar-height);
        overflow: hidden;
        padding: var(--inner-border-size);
        user-select: none;
    }

    &__content {
        border-bottom-left-radius: calc(var(--border-bottom-left-radius) - var(--inner-border-size));
        border-bottom-right-radius: calc(var(--border-bottom-right-radius) - var(--inner-border-size));
        border-top-left-radius: calc(var(--border-top-left-radius) - var(--inner-border-size));
        border-top-right-radius: calc(var(--border-top-right-radius) - var(--inner-border-size));
        height: 100%;
        position: relative;
        text-align: center;
    }

    &__slide,
    &__base {
        align-items: center;
        display: flex;
        height: 100%;
        padding: 0 $layout-unit__md;
        white-space: nowrap;

        &__text {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__slide {
        background: var(--handle-color);
        bottom: 0;
        border-bottom-left-radius: calc(var(--border-bottom-left-radius) - var(--inner-border-size));
        border-bottom-right-radius: calc(var(--border-bottom-right-radius) - var(--inner-border-size));
        border-top-left-radius: calc(var(--border-top-left-radius) - var(--inner-border-size));
        border-top-right-radius: calc(var(--border-top-right-radius) - var(--inner-border-size));
        box-sizing: border-box;
        color: var(--handle-contrast-color);
        height: 100%;
        justify-content: flex-start;
        left: 0;
        min-width: var(--slide-bar-height);
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        transition: $app__transition;

        &__text {
            display: block;
            flex-shrink: 0;
            min-width: 100%;
        }
    }

    &__base {
        color: var(--background-contrast-color);
        justify-content: center;

        &__text {
            width: 100%;
        }
    }

    &._complete {

        // Optional stuff
        &::after {
            -webkit-animation: pop 2s #{$animation-timing-ease};
            animation: pop 2s #{$animation-timing-ease};
            border-radius: 50%;
            bottom: 0;
            content: '';
            display: block;
            height: var(--slide-bar-height);
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: var(--slide-bar-height);
            z-index: -1;
        }
    }
}


@-webkit-keyframes pop {
    0% {
        background-color: rgba(var(--complete-pulse-color-rgb), .24);
        -webkit-transform: scale3d(1, 1, 1);
    }
    80% {
        background-color: rgba(var(--complete-pulse-color-rgb), 0);
        -webkit-transform: scale3d(3, 3, 3);
    }
    100% {
        background-color: rgba(var(--complete-pulse-color-rgb), 0);
        -webkit-transform: scale3d(1, 1, 1);
    }
}


@keyframes pop {
    0% {
        background-color: rgba(var(--complete-pulse-color-rgb), .24);
        transform: scale3d(1, 1, 1);
    }
    80% {
        background-color: rgba(var(--complete-pulse-color-rgb), 0);
        transform: scale3d(3, 3, 3);
    }
    100% {
        background-color: rgba(var(--complete-pulse-color-rgb), 0);
        transform: scale3d(1, 1, 1);
    }
}