@import "../../assets/styles/modules/variables";

$_slide-bar__height: 48px;

.slide-bar {
    --background: #{$app__gradient-background};
    --background-contrast-color: #{$color__light__primary};
    --complete-pulse-color-rgb: #{$app__accent-color-rgb};
    --handle-color: rgba(255,255,255,.9);
    --handle-contrast-color: #{$color__dark__primary};
    -webkit-tap-highlight-color: transparent;
    position: relative;
    
    &__wrapper {
        background: var(--background);
        border-radius: $_slide-bar__height / 2;
        contain: strict;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        height: $_slide-bar__height;
        overflow: hidden;
        padding: 2px;
        user-select: none;
    }

    &__content {
        height: 100%;
        position: relative;
        text-align: center;
    }

    &__slide,
    &__base {
        align-items: center;
        display: flex;
        height: 100%;
        padding: 0 $layout-unit__md;
        white-space: nowrap;

        &__text {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__slide {
        background: var(--handle-color);
        bottom: 0;
        border-radius: $_slide-bar__height / 2;
        box-sizing: border-box;
        color: var(--handle-contrast-color);
        height: 100%;
        justify-content: flex-start;
        left: 0;
        min-width: $_slide-bar__height;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        transition: $app__transition;

        &__text {
            display: block;
            flex-shrink: 0;
            min-width: 100%;
        }
    }

    &__base {
        color: var(--background-contrast-color);
        justify-content: center;

        &__text {
            width: 100%;
        }
    }

    &._complete {

        // Optional stuff
        &::after {
            -webkit-animation: pop 2s #{$animation-timing-ease};
            animation: pop 2s #{$animation-timing-ease};
            border-radius: 50%;
            bottom: 0;
            content: '';
            display: block;
            height: $_slide-bar__height;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: $_slide-bar__height;
            z-index: -1;
        }
    }
}


@-webkit-keyframes pop {
    0% {
        background-color: rgba(var(--complete-pulse-color-rgb), .24);
        -webkit-transform: scale3d(1, 1, 1);
    }
    80% {
        background-color: rgba(var(--complete-pulse-color-rgb), 0);
        -webkit-transform: scale3d(3, 3, 3);
    }
    100% {
        background-color: rgba(var(--complete-pulse-color-rgb), 0);
        -webkit-transform: scale3d(1, 1, 1);
    }
}


@keyframes pop {
    0% {
        background-color: rgba(var(--complete-pulse-color-rgb), .24);
        transform: scale3d(1, 1, 1);
    }
    80% {
        background-color: rgba(var(--complete-pulse-color-rgb), 0);
        transform: scale3d(3, 3, 3);
    }
    100% {
        background-color: rgba(var(--complete-pulse-color-rgb), 0);
        transform: scale3d(1, 1, 1);
    }
}