@import "./assets/styles/modules/mixins";
@import "./assets/styles/modules/variables";
@import "./assets/styles/partials";

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  height: 100%;

  #root {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .main-content {
      flex: 1 1 auto;
      transition: $app__transition;
    }
  }
}

::selection {
  background: $app__accent-color;
}